<section class="about-index">
  <header class="page-header">
    <h1>About Us</h1>
    <p>
    Greetings! Here at Jungle, we offer a wide variety of exquisite and awe-inspiring plants. Each of these plants receives exceptional care using our remarkable technology, ensuring they remain vibrant and brimming with vitality. Join us on this journey to discover your next cherished plant, perfectly suited to your preferences!    
    </p>
  </header>
</section>
